nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    box-shadow: 0 2px 15px black;
    padding: 0.3rem 0;
}
nav .logo
{
    font-size: 1.2rem;
    margin-left: 10rem;
    color: navy;
}
nav ul
{
    font-size: 1.3rem;
    right: 10rem;
    position: absolute;
}
nav ul .links
{
    margin-left: 2rem;
    color: rgb(2, 2, 99);
    text-decoration: none;
    font-weight: 300;
    
}
nav ul .links:hover
{
    color: blue;
}
nav ul .active
{
    position: relative;
    font-weight: 400;
}
nav ul .active::after
{
    content: '';
    background-color: navy;
    width: 50%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 1.8rem;
}
nav ul .active:hover
{
    color: rgb(2, 2, 99);
}