.service-container
{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.service-container h1
{
    text-align: center;
    text-shadow: 0 1px 4px black;
}
.grid-template
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    margin: auto;
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    margin-top: 2rem;
}